<div ng-controller="UserInfoCtrl" class="">
    <div class="page-header">
        <h1>
            控制台
            <small>
                <i class="icon-double-angle-right"></i>
                系统设置
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <form name="configForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">语&nbsp;&nbsp;言</label>

                    <div class="col-sm-9">
                        <select ng-model="config.language" class=" col-sm-4 col-md-2 col-lg-2">
                            <option value="">中文</option>
                            <option value="">english</option>
                        </select>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-2 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            保存
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>