<div ng-repeat="alert in alerts" class="msgtip"   close="closeAlert($index)" ng-show="$last"><p class="inner {{alert.type}}">{{alert.msg}}</p></div>
<div ng-controller="LoginCtrl"
     class="col-xs-12 col-sm-12 col-md-offset- col-md-10  col-lg-10 login-bg">
    <form ng-submit="submit()" name="form" class="form-horizontal" role="form" novalidate>
        <div id="login" class="col-xs-10 col-sm-10 col-md-8  col-lg-6">
            <div class="page-header">
                <h1>
                    机汇网
                    <small>
                        <i class="icon-double-angle-right"></i>
                        会员系统
                    </small>
                </h1>
            </div>
            <div class="form-group "
                 ng-class="{'has-success': form.username.$valid, 'has-error': form.username.$dirty && form.username.$invalid}">
                <label for="username" class="col-sm-2 control-label">帐号</label>

                <div class="col-sm-10">
                    <input ng-model="user.username" name="username" ng-minlength="4" ng-maxlength="32"
                           ng-pattern="/^[a-zA-Z0-9]{4,32}$/" type="text" class="form-control" id="username"
                           placeholder="用户名" required>

                    <p class="help-block error" ng-show="form.username.$dirty && form.username.$error.required">
                        请输入用户名！</p>

                    <p class="help-block error" ng-show="form.username.$dirty && form.username.$invalid">靖输入正确的用户名！</p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success': form.password.$valid, 'has-error': form.password.$dirty && form.password.$invalid}">
                <label for="password" class="col-sm-2 control-label">密码</label>

                <div class="col-sm-10">
                    <input ng-model="user.password" name="password" ng-minlength="4" ng-maxlength="32" type="password"
                           class="form-control" id="password" placeholder="密码" required>

                    <p class="help-block error" ng-show="form.password.$dirty && form.password.$error.required">
                        请输入密码！</p>

                    <p class="help-block error" ng-show="form.password.$dirty && form.password.$invalid">请输入正确的密码！</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input ng-model="rememberme" type="checkbox">记住我</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="reset" class="btn btn-default">
                    <input ng-disabled="form.$invalid" type="submit" class="btn btn-primary" value="登录">
                    <input type="button" value="注册" onclick="location.href='#/register'" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>
