<div ng-repeat="alert in alerts" class="msgtip" close="closeAlert($index)" ng-show="$last"><p
        class="inner {{alert.type}}">{{alert.msg}}</p></div>
<div ng-controller="UserInfoCtrl" class="">
    <!-- PAGE CONTENT BEGINS -->
    <form class="form-horizontal" ng-submit="submit()" role="form">
        <!--<div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">性&nbsp;&nbsp;别</label>

            <div class="col-sm-9">
                <select ng-model="selected" class=" col-sm-4 col-md-2 col-lg-2" ng-options="c.name for c in sexs"></select>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">姓&nbsp;&nbsp;名</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-1" ng-model="sessionuser.name" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-2">职&nbsp;&nbsp;务</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-2" ng-model="sessionuser.position" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-3">手&nbsp;&nbsp;机</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-3" ng-model="sessionuser.cellphone" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-4">电&nbsp;&nbsp;话</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-4" ng-model="sessionuser.phone" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-5">传&nbsp;&nbsp;真</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-5" ng-model="sessionuser.fax" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-6">地&nbsp;&nbsp;址</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-6" ng-model="sessionuser.address" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-7">Email</label>

            <div class="col-sm-9">
                <input type="email" id="form-field-7" ng-model="sessionuser.email" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-8">QQ</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-8" ng-model="sessionuser.qq" type="number"
                       class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-9">Msn</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-9" ng-model="sessionuser.msn" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-10">邮&nbsp;&nbsp;编</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-10" ng-model="sessionuser.zipcode" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-11">公司主页</label>

            <div class="col-sm-9">
                <input type="url" id="form-field-11" ng-model="sessionuser.url" class="col-xs-10 col-sm-5"/>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    保存
                </button>

            </div>
        </div>
    </form>
</div>