<div ng-repeat="alert in alerts" class="msgtip"   close="closeAlert($index)" ng-show="$last"><p class="inner {{alert.type}}">{{alert.msg}}</p></div>
<form class="form-horizontal" ng-submit="submitTechnic()" role="form">
<textarea  name="content" id="technic_content" ueditor ng-model="technic.content"></textarea>
    <div class="clearfix form-actions">
        <div class="col-md-offset-2 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                保存
            </button>
        </div>
    </div>
</form>