/* BASIC STYLINGS
============================================================================= */
body                            { padding-top:20px; }
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/* form styling */
#form-container                {  margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   {  margin:0; padding-top: 30px;padding-bottom: 0px; *border-bottom: 2px solid #e6e6e6;border-bottom: 2px solid #e6e6e6;
    border-top-left-radius:5px; border-top-right-radius:5px; }
#form-container .page-header h2{font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;font-size: 22px;background: url(../../../images/logo.gif) no-repeat 0 0;
    padding: 12px 0;
    text-align: left;
    padding-left: 408px;}
/* numbered buttons */
#status-buttons                 { padding: 30px 70px 0 70px ; }
#status-buttons a               { color:#999; display:inline-block; font-size:12px;  text-align:center; text-transform:uppercase;padding-bottom: 10px;}
#status-buttons a:hover         { text-decoration:none; }
/* we will style the span as the circled number */
#status-buttons span            { background:#999;  color:#fff;display:block; height:30px; margin:0 auto 10px; padding-top:6px; width:30px;
    border-radius:50%; font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;}
/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#ff4700; color:#fff;}
#status-buttons a.active {color: #3e3e3e; border-bottom: 2px solid #ff4700;}
/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px;  padding:30px;padding-left:400px; }
#form-views             { width:auto; }
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:400px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}
/* enter animation */
#form-views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}
/* leave animation */
#form-views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}
/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to 		{ -webkit-transform: translateX(-200%); }
}
/* slide in from the right */
@keyframes slideInRight {
    from 	{ transform:translateX(200%); }
    to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from 	{ -moz-transform:translateX(200%); }
    to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from 	{ -webkit-transform:translateX(200%); }
    to 		{ -webkit-transform: translateX(0); }
}


/*input*/
body, button, input, select, textarea {
font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.form-control{width: 44%;}
.col-xs-6 {width: 39%;}
.btn-info {background-color: #ff4001;border: none;padding: 8px 12px;font-size: 16px;}
.btn-info:hover{background-color: #f73500;border: none;}
#form-views label{font-weight: normal;}
#form-views input{display: inline-block;}
#form-views .form-label{display: inline;float: left;margin-left: -260px;width: 240px;height: 37px;line-height: 37px;text-align: right;}
.help-block{display: inline;}
#form-views h3{font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;font-size: 18px;}
#form-views h3 i{background-image: url(../../../images/ico-circle1.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    font-style: normal;
    line-height: 27px;
    color: #FFF;
    font-size: 15px;}